/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */


 body {
   height:100%;
   width:100%;
   margin:0;
   padding:0;
   -webkit-font-smoothing:antialiased;
   line-height: 1.4;
   letter-spacing: 0.02em;
   outline:none;
   overflow-x: hidden;
 }

 *{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

 a {
   transition: all 0.3s ease;
   color:#00B193;
   text-decoration: none;
 }

 a:hover {
   color:white;
 }


 /** Additional CSS **/

.menu {
  top:0;
  left:0;
  transform: translateX(100vw);
  transition: 0.4s all cubic-bezier(0.6, 0.04, 0.4, 1);
  visibility: hidden;
}

@screen lg {
  .menu {
    transform: none;
    transition: none;
    visibility: visible;
  }
}

/** Trigger mobile nav and styling for site nav ul **/
.active-nav {
  transform: translateX(0px);
  visibility: visible;
}

#hamburger {
  width: 24px;
  height: 17px;
}

.bar {
  height: 2px;
  user-select:none;
  transition:0.25s;
}

.bar:nth-child(1){
  top: 0;
}
.bar:nth-child(2){
  top: 46%;
}
.bar:nth-child(3){
  bottom: 0%;
}

.animate .bar:nth-child(1) {
  transform:translateY(10px) rotate(135deg);
  background:$white;
}

.animate .bar:nth-child(2) {
  opacity: 0;
}

.animate .bar:nth-child(3) {
  transform:translateY(-5px) rotate(-135deg);
  background:$white;
}

.animate .menu {
  display:block;
}


 /** Custom Fonts **/

 @font-face {
     font-family: 'ginger';
     src: url('../assets/fonts/F37Ginger.woff2') format('woff2'),
         url('../assets/fonts/F37Ginger.woff') format('woff'),
         url('../assets/fonts/F37Ginger.ttf') format('truetype'),
         url('../assets/fonts/F37Ginger.svg#F37Ginger') format('svg');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'ginger-italic';
     src: url('../assets/fonts/F37Ginger-Italic.woff2') format('woff2'),
         url('../assets/fonts/F37Ginger-Italic.woff') format('woff'),
         url('../assets/fonts/F37Ginger-Italic.ttf') format('truetype'),
         url('../assets/fonts/F37Ginger-Italic.svg#F37Ginger-Italic') format('svg');
     font-weight: normal;
     font-style: italic;
 }

 @font-face {
     font-family: 'ginger-bold';
     src: url('../assets/fonts/F37Ginger-Bold.woff2') format('woff2'),
         url('../assets/fonts/F37Ginger-Bold.woff') format('woff'),
         url('../assets/fonts/F37Ginger-Bold.ttf') format('truetype'),
         url('../assets/fonts/F37Ginger-Bold.svg#F37Ginger-Bold') format('svg');
     font-weight: bold;
     font-style: normal;
 }

 @font-face {
   font-family: "local";
   src:url("../assets/fonts/local.eot");
   src:url("../assets/fonts/local.eot?#iefix") format("embedded-opentype"),
     url("../assets/fonts/local.woff") format("woff"),
     url("../assets/fonts/local.ttf") format("truetype"),
     url("../assets/fonts/local.svg#local") format("svg");
   font-weight: normal;
   font-style: normal;
 }

 [data-icon]:before {
   font-family: "local" !important;
   content: attr(data-icon);
   font-style: normal !important;
   font-weight: normal !important;
   font-variant: normal !important;
   text-transform: none !important;
   speak: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 [class^="i-"]:before,
 [class*=" i-"]:before {
   font-family: "local" !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-variant: normal !important;
   text-transform: none !important;
   speak: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 .i-ios-play-outline:before {
   content: "\61";
 }
 .i-play:before {
   content: "\62";
 }


 /** Slick overides **/

 .slick-track {
   height:100%;
 }

 .slick-list {
   height:100%;
 }

 .slick-arrow {
    display: block;
    top: 50%;
    position: absolute;
    left: 2rem;
    font-size: 2.5em;
    z-index:9;
    outline: none;
    transform: rotate(180deg);
    cursor: pointer;
}

.slick-arrow:focus {
  outline: none;
}

.slick-next {
    left: auto;
    right: 2rem;
    transform: none;
    top: 54%;
}

.slick-dots {
  position: relative;
  bottom: 3.75rem;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.slick-dots li button {
  height: 12px;
  width: 12px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0 10px;
  padding: 0;
  color: transparent;
  cursor: pointer;
  transition: .3s all ease-in-out;
}

.slick-dots li button:hover {
  background:white;
}

.slick-dots li button:focus {
  outline:none;
}

.slick-dots .slick-active button {
  background:white;
}

.text-gallery .slider {
  min-height: 25rem;
}

.text-gallery .slider .slick-arrow {
  top:44%;
  font-size:2em;
}

.text-gallery .slider .slick-next {
  top:48%;
}


 /** Gallery / List  **/

 .gallery-list .slider {
   min-height: 25rem;
 }

.gallery-list .slider .slick-arrow {
 top:44%;
 font-size:2em;
}

.gallery-list .slider .slick-next {
 top:48%;
}

@screen md {
  .gallery-list .item:nth-of-type(1) {
    order:2;
  }
}

.features:before {
  content:'';
  width:12rem;
  height:2px;
  border-bottom:2px dotted #00B193;
  position: absolute;
  left:-12rem;
  top:50%;
}

.features li:before {
  content:'';
  height:2.85rem;
  width:2px;
  border-right:2px dotted #00B193;
  position: absolute;
  left:-3.5rem;
  top:1.5rem;
}

@screen sm {
  .features li:before {
    top:1.8rem;
    height:3.2rem;
  }
}

.features li:last-child:before {
  content:'';
  display: none;
}

.features li:after {
  content:'';
  width:3.5rem;
  height:2px;
  border-bottom:2px dotted #00B193;
  position: absolute;
  left:-3.5rem;
  top:50%;
}


/** Forms **/

form a {
  color:white;
  text-decoration: underline;
}

form a:hover {
  color:#C3C3C3;
}

input {
  float: left;
  width: 100%;
  border:2px solid white;
  color:white;
  background-color:#9B866D;
  padding:0.6rem 0.75rem;
  font-size:0.9em;
  font-weight: bold;
  margin-bottom:0.4rem;
}

input:focus {
  outline: none;
}

input[type='checkbox'] {
  width:auto;
  float:none;
}

.checkboxes-last span.wpcf7-list-item {
  margin-right: 1rem;
}

.check-style {
  float: left;
  width: 100%;
  border:2px solid white;
  color:white;
  background-color:#9B866D;
  padding:1.1rem 1rem 1rem;
  font-size:0.9em;
  font-weight: bold;
  margin-bottom:0.4rem;
}

.check-style span.wpcf7-list-item {
  width:100%;
  margin-bottom: 0.2rem;
  position: relative;
}

@screen sm {
  .check-style span.wpcf7-list-item {
    width:50%;
  }
}

@screen md {
  .check-style span.wpcf7-list-item {
    width:100%;
  }
}

@screen lg {
  .check-style span.wpcf7-list-item {
    width:50%;
  }
}


/** Custom checkbox styling **/

input[type='checkbox'] {
  position: absolute;
  top:0;
  opacity: 0;
  z-index: 9999;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

span.wpcf7-list-item-label {
  position: relative;
}

span.wpcf7-list-item {
  position: relative;
}

.check-style span.wpcf7-list-item {
  width:100%;
  margin-bottom: 0.2rem;
  position: relative;
}

span.wpcf7-list-item-label::before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent;
  top: 4px;
  position: relative;
  border:2px solid white;
}

span.wpcf7-list-item-label::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 4px;
  width: 2px;
  height: 2px;
}

.checkbox-827 span.wpcf7-list-item-label::before {
  margin-right:5px;
}

@screen sm {
  .checkbox-827 span.wpcf7-list-item-label::before {
    margin-right:10px;
  }
}

.checkbox-827 span.wpcf7-list-item-label {
  margin-right: 0.65rem;
}

@screen sm {
  margin-right: 1rem;
}

@screen lg {
  margin-right: 1.5rem;
}

input[type=checkbox]:checked + span.wpcf7-list-item-label::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 8px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
  visibility: visible;
}

.term_and_conditions span.wpcf7-acceptance span.wpcf7-list-item-label {
  cursor: pointer;
}

.check-style span.wpcf7-list-item {
  width:100%;
  margin-bottom: 0.2rem;
  position: relative;
}

@screen sm {
  .check-style span.wpcf7-list-item {
    width:50%;
  }
}

@screen md {
  .check-style span.wpcf7-list-item {
    width:100%;
  }
}

@screen lg {
  .check-style span.wpcf7-list-item {
    width:50%;
  }
}

/** Additional form styling **/

input.wpcf7-form-control.wpcf7-submit:hover {
  background:#c3c3c3;
}

span.wpcf7-list-item {
  margin:0;
}

input::placeholder {
  color: white;
  opacity: 1;
}

input.wpcf7-form-control.wpcf7-submit {
  border-radius:10px;
  background:white;
  color:#8C704E;
  display: inline-block;
  width:auto;
  padding:0.75rem 3rem;
  margin-top:1.5rem;
  cursor:pointer;
  transition: 0.3s all ease-in-out;
  border:none;
}

/** Error/Success messages **/


span.wpcf7-not-valid-tip {
  display: none;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.wpcf7-not-valid {
  border-color:red;
}
.wpcf7-display-none {
  transform:translateY(100%);
  transition:0.3s ease-in-out all;
  display:inline-block;
  visibility: hidden;
}
div.wpcf7-response-output {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem;
  color:white;
  text-align: center;
  margin:0;
  transition:0.3s ease-in-out all;
  background:transparent;
  border:none;
  font-size:1.1em;
}
div.wpcf7-validation-errors {
  background:red;
  color:white;
  transform:translateY(0);
  visibility: visible;
}
div.wpcf7-mail-sent-ok {
  background:#2b2e34;
  color:#00b193;
  transform:translateY(0);
  border:none;
  visibility: visible;
}
div.wpcf7 .ajax-loader {
  display:none !important;
}



 /** Available Slider **/

.tab-slider .slick-arrow {
  display: none !important;
  left:0;
}

@screen lg {
  .tab-slider .slick-arrow {
    display: block !important;
  }
}

 .tab-slider .slick-next {
   top:51%;
   right:0;
   left:auto;
 }

 .tab-slider .plan {
   width:26rem;
   max-width:100%;
   margin:0 auto;
 }

  .tab-slider .slick-dots {
    bottom:-3rem;
  }

 .tab-slider .slick-dots li button {
   border-color:#2B2E34;
 }

 .tab-slider .slick-dots li button:hover {
   background:#2B2E34;
 }

  .tab-slider .slick-dots .slick-active button {
    background:#2B2E34;
  }

  .lists li img {
    display: inline-block;
  }

  .lists .w-6 {
    max-height: 1.5rem;
  }


    .list-container {
      margin-top:12%;
    }
